.input-icon-design {
  color: #134a73;
}

.hero-image {
  width: 100%;
  top: 0;
  left: 0;
  background-repeat: no-repeat;
  object-fit: cover;
  max-height: 400px;
  z-index: -1;
  min-width: 515px;
}

.search-container {
  background-color: rgba(245, 245, 245, 0.468);
  position: absolute;
  top: 10em;
  min-width: 500px;
  height: 170px;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
}
